/* author: Hudson Marinho
https://codepen.io/hudsonmarinho/pen/kMxPRa */
#scroll-animate {
    overflow: hidden;
}

#scroll-animate-main {
    width: 100%;
    left: 0;
    position: fixed;
}

#heightPage, #heightScroll {
    width: 10px;
    top: 0;
    position: absolute;
    z-index: 99;
}

#heightPage {
    left: 0;
}

#heightScroll {
    right: 0;
}

header {
    width: 100%;
    background: linear-gradient(288deg, #202020, #343434);
    top: 0;
    position: fixed;
    z-index: -1;
}

footer {
    width: 100%;
    height: 300px;
    background: #202020;
    bottom: -300px;
    position: fixed;
    z-index: -1;
}

.content {
    height: 1000px;
    min-height: 1000px;
    background: #343434;
    position: relative;
    z-index: 2;
}

.wrapper-parallax {
    margin-top: 100%;
    margin-bottom: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}


.header-h1 {
    width: 100%; 
    height: 60px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    color: #fff;
}


.header-h3 {
    width: 100%;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.footer-h1 {
    width: 314px;
    height: 197px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: right;

    margin-left: 100%;
    transform: translateX(-105%);

    color: #FFFFFF;
}

.contacts {
    position: absolute;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    display: flex;
    align-items: center;

    margin-left: 1%;
    transform: translateY(-400%);

    color: #FFFFFF;
}

.content h1 {
    color: #999;
}

.card-line {
    width: 95%;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-evenly;
}

.cards-div {
    width: 500px;
    height: 700px;

    margin-top: 10%;

    background: #222222;
    border-radius: 20px;
}

.cards-h1 {
    height: 40px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 147px;
    text-align: center;
    letter-spacing: 0.11em;


    margin-top: 5%;

    text-align: center;

}

.cards-about {
    width: 460px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    text-align: center;

    margin-left: auto;
    margin-right: auto;

    transform: translateY(30%);

    color: #FFFFFF;
}

.jarvis_about {
    width: 460px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    text-align: center;

    margin-left: auto;
    margin-right: auto;

    transform: translateY(40%);

    color: #FFFFFF;
}

.more-jarvis {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 49px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #00FFE0;

    margin-left: 83%;
    margin-top: 44%;
}

.more-stytsko {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 49px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #00FFE0;

    margin-left: 83%;
    margin-top: 37%;
}

.pp {
    width: 140px;
    height: 98px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #959595;

    transform: translate(-15%, -74%);
}

footer h1 {
    line-height: 300px;
}

a {
    text-decoration: none;
    border-bottom: none;
}

header, footer, #scroll-animate-main {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}


@media (max-width: 1100px) {
    .cards-div {
        width: 450px; 
        height: 600px;
    }

    .cards-about {
        width: 90%;
        font-size: 27px;
        transform: translateY(25%);
    }

    .more-stytsko {
        margin-top: 25%;
    }

    .more-jarvis {
        margin-top: 32.5%;
    }

    .content {
        height: 800px;
        min-height: 800px;
    }
}

@media (max-width: 1000px) {
    .header-h1 {
        font-size: 70px;
        height: 50px;
    }

    .header-h3 {
        font-size: 20px;
    }

    .footer-h1 {
        width: 314px;

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 55px;
        line-height: 50px;
        display: flex;
        align-items: center;
        text-align: right;

        margin-left: 100%;
        margin-top: 6%;
        transform: translateX(-106%);

        color: #FFFFFF;
    }
}

@media (max-width: 990px) {
    .card-line {
        display: flex;
        flex-direction: column;
    }

    .cards-div {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .content {
        height: 1550px;
        min-height: 1550px;
    }
}

@media (max-width: 770px) {
    .header-h1 {
        font-size: 50px;
        height: 35px;
    }

    .header-h3 {
        font-size: 15px;
    }

    .cards-h1 {
        font-size: 60px;
    }

    .cards-about {
        width: 90%;

        font-size: 20px;

        margin-top: 40px;
    }

    .jarvis_about {
        transform: translateY(50%);
    }

    .cards-div {
        width: 350px;
        height: 490px;

        background: #222222;
        border-radius: 20px;
    }

    .more-stytsko {
        width: 100px;
        margin-left: 78%;
        margin-top: 33%;
    }

    .more-jarvis {
        width: 120px;
        margin-top: 47%;
        margin-left: 77%;
    }

    .content {
        height: 1200px;
        min-height: 1200px;
    }

    footer {
        height: 200px;
    }

    .footer-h1 {
        width: 250px;
        height: 130px;
        line-height: 30px;
        font-size: 35px;
    }

    .contacts {
        font-size: 20px;
    }
}

@media (max-width: 540px) {
    .header-h1 {
        font-size: 40px;
        height: 25px;
    }

    .header-h3 {
        font-size: 12px;
    }

    .cards-h1 {
        font-size: 50px;
    }

    .cards-about {
        width: 90%;

        font-size: 15px;

        margin-top: 75px;
    }

    .cards-div {
        width: 280px;
        height: 410px;

        background: #222222;
        border-radius: 20px;
    }

    .more-stytsko {
        width: 100px;
        margin-left: 77%;
        margin-top: 31.5%;
        font-size: 12px;
    }

    .jarvis_about {
        transform: translateY(35%);
    }

    .more-jarvis {
        width: 120px;
        margin-top: 39%;
        margin-left: 71%;
    }

    .pp {
        width: 70px;
        margin-left: 4%;
        font-size: 12px;
    }

    .content {
        height: 980px;
        min-height: 980px;
    }
}

@media (max-width: 430px) {
    .header-h1 {
        font-size: 30px;
        height: 20px;
    }

    .header-h3 {
        font-size: 10px;
    }

    .cards-h1 {
        font-size: 40px;
    }

    .cards-about {
        width: 90%;

        font-size: 12px;

        margin-top: 75px;
    }

    .cards-div {
        width: 230px;
        height: 360px;

        background: #222222;
        border-radius: 20px;
    }

    .more-stytsko {
        width: 100px;
        margin-left: 72%;
        margin-top: 27%;
        font-size: 12px;
    }

    .more-jarvis {
        width: 100px;
        margin-left: 72%;
        margin-top: 37%;
        font-size: 12px;
    }

    .pp {
        width: 70px;
        margin-left: 6%;
        font-size: 12px;
    }

    .content {
        height: 850px;
        min-height: 850px;
    }

    footer {
        height: 200px;
    }

    .footer-h1 {
        width: 200px;
        height: 160px;
        line-height: 25px;
        font-size: 30px;
    }

    .contacts {
        font-size: 15px;
        transform: translateY(-550%);
    }
}
